* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;

}

.header-1 {
    background-color: #1433D6;

}

.first-header {
    display: flex;
    gap: 1em;
    width: 30%;
    margin-left: auto;
    /* z-index: 1000;
    position: fixed; */

}

.first-header a li {
    color: white;
    /* z-index: 1000;
    position: fixed; */
}

.first-header a li:hover {
    text-decoration: underline;
}

@media(max-width:1129px) {
    .first-header {
        margin-left: 100px;

    }
}

@media(max-width:1125px) {
    .first-header {
        margin: auto;
        gap: 1.5em;
        width: 50%;
    }
}

@media(max-width:647px) {
    .first-header {
        width: 100%;
    }
}

@media(max-width:378px) {
    .first-header {
        display: none;
    }
}

/* header-2*/
.header-2 {
    background-color: white;
    border-bottom: 2px thin black;
    z-index: 9999;

}

nav {
    display: flex;
    width: 100%;
    margin: auto;
    justify-content: space-around;
    align-items: center;

}

.second-header {
    display: flex;
    gap: 1.5em;
  
}




.fa-solid {
    color: #000C2A;
}

.second-header li a {
    color: #000C2A;
}

.log {
    display: flex;
    gap: 1em;
    align-items: center;

}

.log a {
    color: #000C2A;
    justify-content: center;
}

.log button {
    padding: 10px 14px;
    background-color: #0069FF;
    justify-content: center;
    border-radius: 18px;
    border: none;
}

.log button:hover {
    background-color: #1433D6;
}

.log button a {
    color: white;
    font-size: 1.2em;
    font-weight: 1em;

}

.fa-bars {
    font-size: 2em;
    visibility: hidden;

}

@media(max-width:1186px) {
    nav {
        width: 80%;
    }
}

@media(max-width:1189px) {
    .second-header {
        display: none;
    }
}

@media(max-width:1004px) {
    .fa-bars {
        visibility: visible;
    }
}

@media(max-width:544px) {
    .log {
        display: none;
    }
}

/* hero-sect */
.hero-sect {
    display: flex;
    justify-content: space-around;
    margin-bottom: 100px;

}

.hero-left {
    padding-left: 50px;
    padding-top: 100px;
}

.hero-left h1 {
    color: #000C2A;
    margin-bottom: 8px;
    font-size: 3em;
    font-weight: 650;
    position: relative;
}

.hero-left p {
    margin-bottom: 10px;
}

.hero-ground {
    height: 130vh;
    background-color: #0069FF;
    position: relative;
    border: 2px solid black;
    width: 550px;

}


.hero-image {
    bottom: 50px;
    position: absolute;
    /* padding-right: 60px;
    padding-top: 150px;
   */

}


.btn {
    display: grid
}

.btn-1 {
    margin-bottom: 6px;


}

.btn-1 button {
    padding: 10px 54px;
}

.btn-2 {
    margin-bottom: 6px;
    align-items: center;



}

.btn-2 button {
    padding: 8px 40px;

}

.btn-3 button {
    padding: 8px 40px;
    align-items: center;
}


button a {
    color: black;
    font-size: 1.2em;
}

button a:hover {
    color: white;
    background-color: #1433D6;
}

button {
    border-radius: 70px;
    background-color: white;
    border: 1px thin #000C2A;
    align-items: center;
}

button:hover {
    background-color: #1433D6;
    color: white;
}

/* sect-1 */
.sect-1 {
    margin-bottom: 100px;

}

.sect-1a {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    margin-bottom: 10px;

}

.sect-1a h1 {
    right: 70px;
}

.arrow {
    display: flex;
    align-items: center;
    gap: 1em;
    padding-right: 40px;


}

.arrow .fa-arrow-left {
    border-radius: 4px;
    padding: 12px;
    background-color: #E3E8F4;
    color: white;
    border-radius: 18px;

}

.arrow .fa-arrow-right {
    padding: 12px;
    background-color: #1433D6;
    color: white;
    border-radius: 18px;
}

.sect-1card {
    width: 350px;
    height: 350px;
    padding: 28px;
    border-radius: 18px;
    background-color: #F9FAFE;
    border: 2px solid #E2E4E9;
}

.sect-1card h5 {
    background-color: #FFA14A;
    width: 40%;
    border-radius: 5px;
    margin-bottom: 18px;
}

.sect-1card h2 {
    margin-bottom: 100px;

}

.sect-1card a {
    color: black;

}

.sect-1card a:hover {
    text-decoration: underline;
}

.sect-1card .fa-arrow-right:hover {
    text-decoration: underline;
}

.sect-1b {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* gap: 1em; */
    margin: auto;
    width: 90%;
}

@media(max-width:544px) {
    .sect-1b {
        display: grid;
    }
}

/* sect-2 */
.sect-2 {
    justify-content: center;
    display: flex;
    margin: auto;
    background-color: #F9FAFE;
    margin-bottom: 100px;

}

.pt1 {
    border: 2px solid red;
    width: 55%;
    height: 292px;
    padding: 10px;
    border: 2px solid #E2E4E9;
}

.pt1 h1 {
    /* margin-top: 30px; */
    margin-bottom: 16px;
}

.pt1 p {
    margin-bottom: 90px;
}

.pt1 a {
    color: black;
}

.pt1 a:hover {
    text-decoration: underline;
}

.pt2 img {
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}

@media(max-width:1105px) {
    .sect-2 {
        display: none;
    }
}

/* sect-3 */
.sect-3 {

    background-image: url(./images/sect-3img.png);
    height: 60vh;
    position: relative;
    align-items: center;





}

.sect-3cards {
    display: flex;
    width: 80%;
    justify-content: space-around;
    position: absolute;
    top: 160px;
    left: 120px;


}

.sect-3card h1 {
    margin-bottom: 10px;
}

.sect-3card p {
    font-size: 1em;
    font-weight: 300;

}

.sect-3card span {
    text-decoration: underline;
    color: #1433D6;
}

/* sect-4 */
.sect-4 {
    margin-bottom: 100px;
}

.sect-4a {
    margin-bottom: 100px;

}


.sect-4a h1 {
    text-align: center;
    margin-top: 100px;
    font-size: 2em;


}

.sect-4a p {
    text-align: center;

}

.sect-4a h4 {
    text-align: center;

}

.sect-4a a {
    color: black;
}

.sect-4a h4 :hover {
    text-decoration: underline;

}

.sect-4bcards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
    width: 80%;
    margin: auto;
}

.sect-4bcard {
    border: 3px solid #E2E4E9;
    width: 350px;
    height: 320px;
    padding: 20px;
    border-radius: 20px;
    background-color: #F9FAFE;
}


.sect4b-heading {
    display: flex;
    align-items: center;
    border-bottom: 1px dotted;
    margin-bottom: 40px;


}

.sect-4bcard p {
    margin-bottom: 56px;
}

.sect-4bcard span {
    text-decoration: underline;
    color: #0069FF;
}

.sect-4bcard span:hover {
    background-color: #1433D6;
    color: white;
}

.sect-4bcard a {
    color: black;
}

/* sect-5 */
.sect-5 {
    background-image: url(./images/sect-5bg.png);
    height: 160vh;
    position: relative;
    margin-bottom: 100px;
}

.sect-5first {
    position: absolute;
    left: 300px;
    top: 90px;
}

.sect-5first h1 {
    text-align: center;
    margin-bottom: 20px;
}

.sect-5first p {
    text-align: center;
}

.sect-5second {
    position: absolute;
    top: 250px;
    height: 120vh;
    width: 100%;


}

.sect-5card1 {
    width: 520px;
    height: 300px;
    padding: 20px;
    background-color: white;
    left: 70px;
    position: absolute;
    border: 3px solid #E2E4E9;
    border-radius: 16px;
}

.sect-5card2 {
    width: 520px;
    height: 300px;
    padding: 20px;
    background-color: white;
    left: 660px;
    position: absolute;
    border: 3px solid #E2E4E9;
    border-radius: 16px;
}

.sect-5card2 span {
    color: #0069FF;
    text-decoration: underline;
}

.sect-5card2 span:hover {
    color: white;
    background-color: #1433D6;
}

.sect-5card3 {
    width: 520px;
    height: 300px;
    padding: 20px;
    background-color: white;
    left: 70px;
    position: absolute;
    border: 3px solid #E2E4E9;
    border-radius: 16px;
    top: 330px;
}

.sect-5card4 {
    width: 520px;
    height: 300px;
    padding: 20px;
    background-color: white;
    left: 660px;
    position: absolute;
    border: 3px solid #E2E4E9;
    border-radius: 16px;
    top: 330px;
}

/* sect-6 */
.sect-6 {
    margin-bottom: 100px;
}

.firstsect-6 {
    width: 80%;
    margin: auto;
    border-bottom: 2px solid black;
    text-align: center;
    margin-bottom: 20px;
}

.firstsect-6 h1 {
    font-size: 2.2em;
    margin-bottom: 10px;
}

.firstsect-6 p {
    margin-bottom: 70px;
}

.sect-6btn {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    gap: 2em;
}

.sect-6btn a button {
    padding: 8px;
}

.sect-6btn button {
    border: none;
    background-color: #F9FAFE;
    font-weight: 600;
    font-size: 1em;
}

.sect-6btn a button:hover {
    background-color: #1433D6;
    color: white;
}

.secondsect-6 {
    display: flex;
    gap: 3em;
    justify-content: center;
    margin: auto;
    width: 80%;
}

.secondsect-6 img {
    border-radius: 10px;
}

.words {
    text-align: center;
}

.words h1 {
    margin-top: 90px;
    margin-bottom: 16px;
}

.words p {
    margin-bottom: 30px;
}

.words a {
    color: black;
}

.words a:hover {
    text-decoration: underline;
}

/* sect-7 */
.sect-7 {
    background-color: #F9FAFE;
    height: 100vh;
    position: relative;
    margin-bottom: 100px;
}

.sect-7mini {
    display: flex;
    margin: auto;
    margin-top: 100px;
    width: 70%;
    justify-content: center;
    gap: 3em;
    padding: 30px 0px;
    position: absolute;
    border-radius: 16px;
    border: 3px solid #E2E4E9;
    left: 200px;
    background-color: white;
}

.set-7mini img {
    margin-bottom: 100px;
}

.text p {
    margin-top: 30px;
}

.text-mini {
    display: flex;
    gap: 1em;
}

.text-mini img {
    border-radius: 50%;
}

/* sect-8 */
.sect-8 {
    margin-bottom: 100px;
}

.sect-8mini {
    width: 90%;
    margin: auto;
    background-color: #1433D6;
    border-radius: 26px;
    display: flex;
    padding: 20px;
}

.sect-8right h1 {
    color: white;
    margin-bottom: 10px;

}

.sect-8right p {
    color: white;
    margin-bottom: 30px;
    line-height: 1.8;

}

.sect-8right a h4 {
    color: white;
}

.sect-8right .fa-arrow-right {
    color: white;
}

/* sect-9 */
.sect-9 {
    background-color: #F9FAFE;
    margin-bottom: 100px;
    height: 150vh;

}

.sect-9 h1 {
    text-align: center;
    margin-bottom: 100px;
    font-weight: 700;
    font-size: 2em;
    margin-top: 50px;
}

.achor {
    display: flex;
    margin: auto;
    width: 74%;
    height: 40px;
    justify-content: center;
    gap: 0.5em;
    align-items: center;
    border-radius: 20px;
    /* border: 2px solid red; */
    text-align: center;
    background-color: #D6DCEA;
    margin-bottom: 60px;
}

.achors {
    background-color: #D6DCEA;
    /* border: 2px solid purple; */
    border-radius: 20px;
    width: 66%;
    /* height: 40px; */
    text-align: center;
    justify-content: center;

}

.achors a {
    padding: 6px 40px;
    background-color: #D6DCEA;
    border-radius: 20px;

}

.achors a:hover {
    background-color: #1433D6;
}

.first-achor {
    background-color: #1433D6;

    /* border: 2px solid crimson; */
    padding: 4px 40px;
    border-radius: 20px;


}

.first-achor img {
    color: white;
}

.sect-9flex {
    display: flex;
    width: 80%;
    /* border: 2px solid green; */
    margin: auto;
    padding: 15px;
    gap: 6em;

}

.sect-9flex img {
    border-radius: 12px;
    background-color: white;
}

.mini-9flex {
    width: 40%;
}

.mini-9flex h4 {
    margin-bottom: 20px;
}

.mini-9flex a {
    color: black;
}

.mini-9flex a:hover {
    text-decoration: underline;
}

.flex {
    display: flex;
    /* gap: 1em; */
    margin-bottom: 20px;

}

.flex img {
    border-radius: 30px;
}

.heads {
    align-items: center;
}

.words {
    margin-bottom: 10px;
}

/* sect-10 */
.sect-10 {
    padding: 100px;
    justify-content: center;
    margin-bottom: 100px;
}

.img {
    background-image: url('./images/imgi_109_images.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 60vh;
    width: 100%;
    margin: auto;
    position: relative;
    border-radius: 10px;

}
.sect10-text{
    position: absolute;
    right: 206px;
    top: 50px;
    text-align: center;
    width: 60%;
    padding: 20px;
}
.sect10-text h1{
    margin-bottom: 20px;
    font-size: 2em;
}
.sect10-text p{
      margin-bottom: 40px;
}
.sect10-text button{
    padding: 8px 22px;
    background-color: #1433D6;
    color: white;
    font-weight: 400;
    font-size: 1em;
    border: none;
}
.sect10-text button:hover{
    background-color: #000C79;
}
/* footer */
/* footer-1 */
footer {
    background-color: #F9FAFE;
}

.footer-1 {
    display: flex;
    /* border: 2px solid green; */
    width: 80%;
    margin: auto;
    gap: 3em;
    padding: 100px;

}

.foot1 h5 {
    margin-bottom: 14px;
}

.foot1 ul {
    line-height: 1.9;
}

.foot1 ul a li {
    color: #000c2ab7;
    font-size: 0.9em;
}

.foot1 ul a :hover {
    color: black;
}

.foot2 h5 {
    margin-bottom: 14px;
}

.foot2 ul {
    line-height: 1.9;
}

.foot2 ul a li {
    color: #000c2ab7;
    font-size: 0.9em;

}

.foot2 ul a :hover {
    color: black;
}

.foot3 h5 {
    margin-bottom: 14px;
}

.foot3 ul {
    line-height: 1.9;
}

.foot3 ul a li {
    color: #000c2ab7;
    font-size: 0.9em;

}

.foot3 ul a :hover {
    color: black;
}

.foot4 h5 {
    margin-bottom: 14px;
}

.foot4 ul {
    line-height: 1.9;
}

.foot4 ul a li {
    color: #000c2ab7;
    font-size: 0.9em;

}

.foot4 ul a :hover {
    color: black;
}

.foot5 h5 {
    margin-bottom: 14px;
}

.foot5 ul {
    line-height: 1.9;
}

.foot5 ul a li {
    color: #000c2ab7;
    font-size: 0.9em;

}

.foot5 ul a :hover {
    color: black;
}

.footer2 {
    display: flex;
    /* border: 2px solid green; */
    justify-content: space-between;
    width: 80%;
    margin: auto;
    margin-bottom: 100px;
    height: 30px;
}

.left {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.left p {
    font-size: 0.8em;
    color: #000c2ab7;
}

.left p:hover {
    color: black;
}

.right {
    display: flex;
    gap: 0.6em;
}

.right img {
    color: #000c2ab7;
}